/* ------------------------------------------------------*/
/* style3.css 
/* ------------------------------------------------------*/
table
{  
    padding-top: 15px;
    border-spacing: 10px 10px;
}
#frmEditProduct table,
#frmInsertProduct table 
{
    height: 520px;
}
#frmEditProduct input[type=text],
#frmInsertProduct input[type=text]
{
    padding-left: 5px;
    height: 28px;
}
#product_category,
#product_brand
{
    height: 28px;
    width: 150px;
}
#tableheader
{
    padding-top: 15px;
    width: 795px;
    height: 42px;
    margin-top: -20px;
    text-align: center;
    background-color: #ebebe0;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}
#insert_post, 
#edit_post, 
#cancel
{
    /* gradients in firefox, IE, Chrome & Safari */
    background: -moz-linear-gradient(#ffffff, #CCCCCC);
    background: -webkit-linear-gradient(#ffffff, #CCCCCC);
    background: -ms-linear-gradient(#ffffff, #CCCCCC);
    margin-bottom: 10px;
    height: 40px;
    width: 120px;
}
#insert_post, 
#edit_post
{
    margin-left: 280px;
    margin-right: 50px;				
}
#insert_post:hover, 
#edit_post:hover, 
#cancel:hover
{
    transform: scale(1.10);   
}
#buttons
{
    padding-bottom: 10px;
    background-color: #ffc14d;
}
.static
{
    pointer-events: none;
}


