/* ------------------------------------------------------*/
/* style8.css 
/* ------------------------------------------------------*/
h2
{
    margin-top: -20px;
    padding-top: 50px;
    background-color: orange;
}
input[type=submit]
{
    margin-left: 270px;
    height: 30px;
    width: 100px;
}
#cancel
{
    margin-left: 50px;
    height: 30px;
    width: 100px;
}
#frmDeleteCustomerAccount
{
    height: 530px;
    background-color: orange;
}